<!DOCTYPE html>
<html>

<head> 
    <title>About</title>
    <link rel="icon" href='/img/weatherlogo.png'>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
     <div class="main-content">
        {{>header}}
        <img class='portrait' src='./img/IMG_6663.jpg'>
        <p class="about-intro"> Hi! My name is Anjali Parikh. I am completing my undergraduate degree in Computer Science at the University of Toronto and I am currently a Software Developer Intern at Xero. This weather app was created with guidance from the Udemy Node JS course. Thank you for using my application!</p>
        <h2 class="sources-title"> Sources Used </h2>
         <ul>
             <li> Udemy : The Complete Node JS Course </li>
             <li> Mapbox Geocoding API : https://docs.mapbox.com/api/search/geocoding/ </li>
             <li> Weatherstack API : https://weatherstack.com/ </li>
         </ul>
    </div>

    {{>footer}}
</body>

</html>