<!DOCTYPE html>
<html>

<head> 
    <title>Help</title>
    <link rel="icon" href='/img/weatherlogo.png'>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
     <div class="main-content">
        {{>header}}
         <p class="help-intro">If you require a more descriptive weather description, please take a look at your local news or do a quick google search.</p>
    </div>
   
    {{>footer}}
</body>

</html>